@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.pages-hero{
  min-height: calc(90vh - 126px);
  position: relative;
  overflow: hidden;
  background: $color-black; 
  padding: 0;
  display: flex;
  flex-direction: column;


    & .container{
        z-index: 2;
        position: relative;
        padding-top: 2rem;
        padding-bottom: 3rem;
        min-height: inherit;
        display: flex;
        flex-direction: column;

        @include desktop{
            padding-top: 2.5rem;
            padding-bottom: 4rem;
        }
       
    }


    &__bg {
        position: absolute;
        inset: 0;
        background-image:
        linear-gradient(
            90deg,
            $color-black 0%,
            rgba(11, 13, 16, 0.638) 22%,
            rgba(11, 13, 16, 0.35) 100%
        ),
        var(--bg-image);
        background-size: cover;
        background-position: center;
        opacity: 0.2;
        z-index: 0;

        @include desktop{
            inset: 0 0 0 52%;
            clip-path: polygon(18% 0, 100% 0, 100% 100%, 0 100%);
            opacity: 0.65;
        }
    }

    &__wrapper{ 
        flex: 1;
        align-items: center;
        height: 100%;
        z-index: 2;

        .section-title{
            margin-bottom: 1.5rem;
        }

        p{
            margin-bottom: 2.5rem;
        }

        @include tablet{
            @include flex-between;
            gap: $gap-md;
        }

         @include desktop{

            &--desc{
                max-width: 40rem;
            }
        }

        
    }   
   
    &__card {
        margin-top: 3rem;
        backdrop-filter: blur(2px);
        max-height: fit-content;
        max-width: 28rem;
        box-shadow: 0 1.25rem 5rem rgba(0,0,0,.35);
        min-width: 17rem;
        padding: 1rem !important;  
        position: relative;


        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 100%;
            background: linear-gradient(180deg, rgba(66, 134, 213, 0.52), rgba(245, 245, 244, 0.06));
        } 

        & .eyebrow{
            margin-bottom: 0;
        }
        
        @include desktop{
            margin-right: 7rem;
            margin-top: auto;
            margin-bottom: 3rem;
            min-width: 24rem;
        }

        h5 {
            margin-bottom: 1.5rem;
        }
    }
}