@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;


.pricing-list {

  .split-layout {
    gap: 2rem;

    &__content{
      margin-bottom: 0;
    }
  }

  & .price-table__content{
      max-height: 35rem;
  }

  &__sidebar {
    background: $color-white;
    border: 1px solid rgba($color-black, 0.06);
    border-radius: $radius-md;
    overflow: hidden;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-radius: $radius-md;

    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba($color-gray, 0.25) rgba($color-gray, 0.04);

    @include desktop {
      display: block;
    }

    &::-webkit-scrollbar {
        width: 0.375rem;
    }

    &::-webkit-scrollbar-track {
        background: rgba($color-gray, 0.04);
        border-radius: 999px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba($color-gray, 0.35);
        border-radius: 999px;
    }

    &:hover::-webkit-scrollbar-thumb {
        background: rgba($color-gray, 0.5);
    }

    button {
      width: 100%;
      border: 0;
      background: transparent;
      padding: 1rem 1.5rem;
      text-align: center;
      color: $color-black;
      transition: all $transition;
      font-weight: 500;
      cursor: pointer;

      @include desktop{
        text-align: left;
      }

      &:hover {
        background: rgba($color-blue, 0.08);
      }

      &.is-active {
       background: rgba($color-blue, 0.08);
      color: $color-blue;
      }
    }
  }
}

