@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.breadcrumbs {
  margin-bottom: 2rem;
  @include desktop {
      margin-bottom: 3rem;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: $gap-sm;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: $gap-sm;

    &:not(:last-child)::after {
      content: "/";
      color: $color-white;
      opacity: .3;
    }
  }

  &__link {
    color: $color-white;
    font-size: .875rem;
    text-decoration: none;
    transition: $transition;
    opacity: .4;

    &:hover {
      opacity: .9;
    }
  }

  &__current {
    color: $color-white;
    font-size: .875rem;
    opacity: .9;
  }
}