@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.sticky-callback {
  position: fixed;
  left: 0;
  top: 75%;
  z-index: 50;
  width: 44px;
  height: 44px;
  transform: translateY(-50%);
  border: 0;
  border-radius: 0 $radius-md $radius-md 0;
  background: $color-blue;
  cursor: pointer;
  @include flex-center;
  transition: $transition;
  box-shadow: 0 0 24px rgba($color-blue, 0.45);
  
  &:hover {
    transform: translateY(-50%) translateX(4px);
  }

  &:hover .tooltip__content {
    opacity: 1;
    visibility: visible;
    transform: translateY(-50%) translateX(4px);
  }

  &__icon{
    width: 1.5rem;
    height: 1.5rem;
  }
}