@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

body {
  background: $color-black;
  @include body-text;
}

section {
  @include section-padding;
  transition: background-color 0.9s ease, color 0.9s ease;
  scroll-margin-top: 120px;
}

h1{
  @include title-h1;
}

h2{
  @include title-h2;
  @include desktop {
    max-width: 18ch;
  }
}

h3{
  @include title-h3;
}

h4{
  @include title-h4;
}

h5{
  @include title-h5;
}